@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Rubik";
    font-style: normal;
    color: white;
}

:root {
    --margin: 10px;
}

body {
    background-color: black;
}

.rounded {
    border-radius: 8px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

.left-side {
    width: 20vw;
    height: calc(100% - calc(2 * var(--margin)));
    margin: var(--margin) 0 var(--margin) var(--margin);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: var(--margin);
}


.right-side {
    width: 80vw;
    height: calc(100% - calc(2 * var(--margin)));
    margin: var(--margin);
    box-sizing: border-box;
}



/* ------------Left side---------- */


.left-side>* {
    box-sizing: border-box;
    background-color: #121212;
}


.left-side-nav {
    padding: 5px 20px;
}

.left-side-nav>img {
    width: 100px;
}

.left-side-nav>ul {
    list-style-type: none;
    margin: 10px 0;
}

.left-side-nav>ul li {
    margin: 4px 0;
    padding: 6px 3px;
    border-radius: 10px;
}

.left-side-nav>ul li:hover {
    background-color: black;

}



.left-side-nav>ul a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.left-side-nav>ul img {
    width: 30px;
}


/* lower */
.left-side-libray {
    flex-grow: 1;
    position: relative;

}

.left-libray-heading {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.left-libray-heading>div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.left-libray-heading img {
    height: 25px;
}

.left-footer {
    background-color: #121212;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
}

.left-footer ul {
    list-style-type: none;
    padding: 10px;
    margin: 20px 10px;
    font-size: 10px;
    font-weight: 200;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.left-footer button {
    background: black;
    border: 1px solid #828080;
    border-radius: 20px;
    padding: 2px 12px;
    margin: 20px;
}

.left-footer button div {
    display: flex;
    align-items: center;
    gap: 5px;
}




/* ------------Right side---------- */
#nav-hamburgar {
    display: none;
}

.right-content-box {
    height: 100%;
    background-color: #121212;
    box-sizing: border-box;
    position: relative;
    overflow-y: auto;
    scrollbar-color: rgba(255, 255, 255, 0.247) transparent;
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

.right-side-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 2px solid black;
    box-sizing: border-box;
    padding: 5px 20px;
    position: sticky;
    top: 0;
    background-color: #121212;
    z-index: 1;

}

.right-nav-arrows {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.right-nav-arrows button {
    width: 35px;
    height: 35px;
    background-color: black;
    border-style: none;
    border-radius: 50%;
}

.right-nav-arrows button span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-nav-arrows button img {
    width: 20px;
}

.right-nav-btn {
    display: flex;
    gap: 10px;
}

.right-nav-btn button {
    background-color: black;
    border-radius: 50px;
    padding: 10px 20px;
    font-weight: 600;
    transition: all 0.5s ease;
    box-sizing: border-box;
    border: 1px solid white;
}

.right-nav-btn button:last-child {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.right-nav-btn button:last-child:hover {
    background-color: rgb(3, 3, 3);
    color: white;
    border: 1px solid white;
    transform: scale(1.05);
}

.right-nav-btn button:first-child:hover {
    background-color: white;
    color: black;
    transform: scale(1.05);
}

/* cards */

.right-card-container-section {
    padding: 10px;
    display: flex;
    flex-direction: column;

}

.right-card-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.right-card-heading a:first-child {
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
}

.right-card-heading a:last-child {
    font-size: 16px;
    text-decoration: none;
}

.right-card-heading a:hover {
    text-decoration: underline;
    text-underline-offset: 1px;
}

.right-card-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}


.right-card {
    aspect-ratio: 180 / 270;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    transition: all .5s ease;
    background-color: #0f0f0f;
    padding: 10px;
    font-size: 16px;
}

.right-card:hover {
    background-color: #1a1a1a;
}

.right-card img {
    aspect-ratio: 10 / 11;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}


.right-card h2 {
    font-size: 1em;
    font-weight: 350;
    margin: 5px 0;
}

.right-card p {
    font-size: 0.8em;
    font-weight: 200;
    margin: 5px 0;
}

.right-card button {
    position: absolute;
    right: 10%;
    top: 45%;
    width: 45px;
    height: 45px;
    border-style: none;
    border-radius: 50%;
    background-color: #1ed760;
    color: black;
    font-size: 12px;
    font-weight: 200;
    margin: 5px 0;
    transition: all .5s .2s cubic-bezier(0, .55, 0, 1.04);
    transform: scale(0) translate(0, -50px);
    filter: opacity(0);
}

.right-card:hover button {
    transform: scale(1);
    filter: opacity(1);
}

.right-card button:active>img {
    transform: scale(1.2);

}

.right-card button:hover {
    transform: scale(1);
}


.right-card button img {
    width: 30px;
    height: 30px;
}


.artist-cards-section {
    background-image: linear-gradient(to bottom, #1e1e1e, #121212);
}

.artist-cards-section>div:last-child>*>img {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    box-shadow: 0 0 10px 0px black;
    border: 1px solid black;
    transition: all .5s ease;
}

.artist-cards-section>div:last-child>* {
    background-color: transparent;
}

.artist-cards-section>div:last-child>*>img:hover {
    box-shadow: 0 0 10px 0px rgb(48, 48, 48);
    transform: scale(1.1);
}

/* playbar */
.playbar-container {
    box-sizing: border-box;
    height: 105px;
    position: sticky;
    bottom: 2px;
    z-index: 2;
    padding: 5px;
    bottom: 0;
    transition: all .5s ease;
    filter: opacity(0);
}


.right-playbar {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* border: 1px solid rgba(0, 128, 0, 0.486); */
    border-radius: 15px;
    box-shadow: 0 0 6px -2px white;
}


.right-playbar > div:first-child{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.playbar-song-card {
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
}

.playbar-song-card img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.playbar-song-card h2 {
    font-size: 16px;
    font-weight: 500;
}

.playbar-song-card p {
    font-size: 14px;
    font-weight: 300;
}

.playbar-buttons {
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.playbar-buttons > div {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.playbar-buttons img {
    width: 40px;
    height: 40px;
}

#pause-btn {
    display: none;
}

.playbar-time {
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
    justify-content: end;
    box-sizing: border-box;
}

.time-line-container {
    padding: 10px 0px;
    box-sizing: border-box;
    cursor: pointer;
    width: 95%;
    margin: 0 auto;
}

.time-line {
    background-color: white;
    border-radius: 10px;
    height: 3px;
    position: relative;
}

.playbar-circle {
    width: 14px;
    height: 14px;
    background-color: green;
    cursor: pointer;
    transition: transform .5s ease, background-color .1s ease;
    border-radius: 50%;
    position: relative;
    top: -6px;
    left: calc(0% - 7px);
}

.playbar-circle:active {
    transform: scale(1.2);
}

.playbar-circle:hover {
    background-color: rgb(2, 255, 2);
}



@media only screen and (max-width: 1200px){
    .left-side {
        display: none;
    }
    #nav-arrows {
        display: none;
    }
    #nav-hamburgar {
        display: block;
    }
    #nav-hamburgar img {
        width: 40px;
    }
    .right-side {
        width: 100vw;
        margin: 0;
        height: 100vh;
        background-color: green;
    }
    .right-content-box {
        border-radius: 0;
    }
    .artist-cards-section > .right-card-container{
        display: inline-flex;
        flex-direction: row;
        overflow-x: scroll;
    }
    .artist-cards-section > .right-card-container .right-card > img{
        width: 150px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px){
    .right-card-container{
        grid-template-columns: repeat(4, 1fr);
    }
    .artist-cards-section > .right-card-container .right-card{
        font-size: 14px;
    }
    .artist-cards-section > .right-card-container .right-card > img{
        width: 130px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px){
    .right-card-container{
        grid-template-columns: repeat(3, 1fr);
    }
    .artist-cards-section > .right-card-container .right-card{
        font-size: 12px;
    }
    .artist-cards-section > .right-card-container .right-card > img{
        width: 110px;
    }
}

@media only screen and (max-width: 600px){
    .artist-cards-section > .right-card-container .right-card{
        font-size: 12px;
    }

    .artist-cards-section > .right-card-container .right-card > img{
        width: 100px;
    }

    .right-card-container{
        grid-template-columns: repeat(2, 1fr);
    }

    /* .right-card-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .right-nav-btn > button{
        padding: 7px 12px;
    }  */

}